* {
    margin: 0;
    padding: 0;
}

/* body {
    height: 100%;
} */
header {
    display: flex;
    
    width: 90%;
    margin: auto;
}

.logo-container {
    padding: 20px 0px 0px 35px;
    flex: 2;
}

img{
    width: 70px;
    height: auto;
}

nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
}

.allcontainer {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allheadline {
    position: relative;
    left: 100px;
    top: 100px;
    font-size: 40px;
}

.allheadline p {
    font-size: 25px;
    margin: 80px 50px 0px 0px;
}

.allblogspic img {
    width: 700px;
    margin-top: 70px;
}

.postscontainer {
    margin: 100px 50px 0px 50px;
    
   
}

.blog {

       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog img {
    width: 280px;
    height: 200px;
    margin: 20px;
    
    
    
}

.blog a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    
}

.posts {
    /* border: solid rgb(0, 0, 0); */
    width: 280px;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.loadingButton {
    display: flex;
    justify-content: center;
    
    border: none;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    margin: auto;
   
    background-image: linear-gradient(120deg, #ff34c6 0%, #3268c5 100%);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    
}

footer {
    height: 50px;
    background-color: aqua;
    width: 100%;
}

@media (max-width: 1024px) {
    .allblogspic img {
        width: 450px;
        padding-left: 50px;
    }
    .allheadline h1 {
        font-size: 65px;
    }

    .allheadline p {
        font-size: 20px;
        margin: 0;
        padding-top: 40px;
    }
    .allcontainer {
    height: 400px;
    }

    .blog {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: 40px; */
    }
    .posts {
    margin: 14px;  
   }
}

@media (max-width: 768px){

    .postscontainer {
       margin: 40px;
    }

    .allheadline h1{
     font-size: 50px;
     position: relative;
     right: 30px;
    }
    .allheadline p{
        font-size: 20px;
        position: relative;
        right: 30px;
       }
    .allblogspic img{
        width:350px;
        margin-top: 40px;
    }
    img {
        width: 50px;

    }
    .nav-link {
        font-size: 10px;
    }


  .blog {
    width: auto;
    display: flex;
    flex-wrap: wrap;
      margin: 0 38px 0 30px;
  }

  .posts {
      margin: 10px;
    }
    
    .buttoncontainer {
       
        padding: 40px;
    }
}
  
@media (max-width: 425px){

 
    .logo-container img {
        width: 40px;
    }
    .allblogspic img {
        width: 300px;
    }
    
    .allheadline h1 {
        
        position: relative;
        right: 100px;
        padding-left: 20px;
    }
   
    .allcontainer {
        display: flex;
        flex-wrap: wrap;
    }
    .allheadline p{
        position: relative;
        right: 100px;
        font-size: 15px;
        margin: 10px;
        width: 300px;

    }
    .posts {
         margin-bottom: 20px;
         
    }
    .blog {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
    height: 50px;
    background-color: aqua;
    width: 100%;
    }
}



