* {
    margin: 0;
    padding: 0;
}
.gifcon {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}
#wordcolor {
    color: #5243B8;
}

header {
    display: flex;
    
    width: 90%;
    margin: auto;
}

.logo-container {
    padding: 20px 0px 0px 35px;
    flex: 2;
}

img{
    width: 70px;
    height: auto;
}

nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
}

.allcontainer {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allheadline {
    position: relative;
    left: 100px;
    top: 100px;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}

.allheadline p {
    font-size: 25px;
    margin: 80px 50px 0px 0px;
    font-family: 'Karla', sans-serif;
}

.allblogspic img {
    width: 700px;
    margin-top: 70px;
}

.postscontainer {
    margin: 100px 50px 0px 50px;
    
   
}

.blog {

       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog img {
    width: 280px;
    height: 200px;
    margin: 20px;
    
    
    
}

.blog a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    
}

.posts {
    width: 280px;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: auto;
}

.loadingButton {
    display: flex;
    justify-content: center;
    
    border: none;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(120deg, #00E5FF 0%, #4218B8 100%);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    
}

footer {
    height: 50px;
    background-image: linear-gradient(120deg, #ff34c6 0%, #3268c5 100%);
    width: 100%;
    margin-top: 150px;
}
.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}


@media (max-width: 1024px) {
    .allblogspic img {
        width: 450px;
        padding-left: 50px;
    }
    .allheadline h1 {
        font-size: 65px;
    }

    .allheadline p {
        font-size: 20px;
        margin: 0;
        padding-top: 40px;
    }
    .allcontainer {
    height: 400px;
    }

    .blog {
        display: flex;
        flex-wrap: wrap;
    }
    .posts {
    margin: 14px;  
   }
}

@media (max-width: 768px){
    .menucontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        z-index: 2;
        
    }
    
    .hamburger {
        display: none;
        
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #101010;
        background-color: rgb(0, 0, 0);
    }
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-link {
        color: black;
        margin: 1rem;
    }
    
    .nav-link:hover{
        color: #482ff7;
    }
    
    .nav-links {
        position: absolute;
        left: -100%;
        top: 6rem;
        
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 50vh;
        margin: 0;
        padding: 0;
    }


    .nav-links.active {
        left: 0;
        
    }

    .nav-link {
        margin: 0;
        padding: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);


    }
    .postscontainer {
       margin: 40px;
    }

    .allheadline h1{
     font-size: 50px;
     position: relative;
     right: 30px;
    }
    .allheadline p{
        font-size: 20px;
        position: relative;
        right: 30px;
       }
    .allblogspic img{
        width:350px;
        margin-top: 40px;
    }
    img {
        width: 50px;

    }
    .nav-link {
        font-size: 10px;
    }

  .blog {
    width: auto;
    display: flex;
    flex-wrap: wrap;
      margin: 0 38px 0 30px;
  }

  .posts {
      margin: 10px;
    }

    .buttoncontainer {
       
        padding: 40px;
    }

   
}
  
@media (max-width: 425px){

 
    .logo-container img {
        width: 40px;
    }
    .allblogspic img{
        width: 300px;
        margin-bottom: 40px;
        z-index: -1;
    }
    
    .allheadline h1 {
        font-size: 30px;
        position: relative;
        right: 100px;
        bottom: 50px;
        padding-left: 50px;
    }
   .allheadline {
       width: 70%;
       
   }
    .allcontainer {
        display: flex;
        flex-wrap: wrap;
    }
    .allheadline p{
        position: relative;
        right: 100px;
        bottom: 80px;
        font-size: 13px;
        margin: 10px;
        padding-left: 50px;
        

    }
    .posts {
         margin-bottom: 20px;
         
    }
    .blog {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
    height: 50px;
    background-color: aqua;
    width: 100%;
    }
}
@media (max-width: 375px) {
    .allheadline h1 {
        
        font-size: 35px;
        position: absolute;
        bottom: 70px;
        right: 95px;
        width: fit-content;
        
    }
    .allheadline p {
        
        font-size: 15px;
        position: absolute;
        bottom: -20px;
        right: 100px;
        width: fit-content;
        
    }

    .allheadline {
        width: 70%;
    }
    
    .allblogspic img {
        width: 200px;
        margin: auto;
       position: relative;
       top: 130px;
    }
    .postscontainer {
        margin: auto;
       
    }
    .blog {
        margin: auto;
         display: flex;
        justify-content: center;
    }
   
}

@media (max-width: 320px) {
    .allheadline h1 {
        
        font-size: 35px;
        position: absolute;
        bottom: 40px;
        right: 95px;
        width: fit-content;
        
    }
    .allheadline p {
        
        font-size: 15px;
        position: absolute;
        top: 30px;
        right: 100px;
        width: fit-content;
        
    }

    .allheadline {
        width: 70%;
    }
    
    .allblogspic img {
        padding-top: 50px;
        width: 200px;
        margin: auto;
    }
    .postscontainer {
        margin: auto;
       
    }
    .blog {
        margin: auto;
         display: flex;
        justify-content: center;
    }
}


