* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    
    width: 90%;
    margin: auto;
}

.logo-container {
    padding: 20px 0px 0px 35px;
    flex: 2;
}

img{
    width: 70px;
    height: auto;
}

nav li {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
}

.body-container{
  display: flex;
  justify-content: center;
}

/* .contact-pic img {
    height: 704px;
    width: 550px;
} */

.contact-forum {
    width: fit-content;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(44, 44, 44, 0.2) 0px 8px 24px;
}

.contact-info {
    margin: 20px;
}

h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(120deg,#ff34c6, #3268c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headline {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#signup {
    font-family: 'Poppins', sans-serif; 
    width: 500px;
    height: 400px;
    
    border-radius: 20px;
    margin: 50px auto;
}
  
form > div { 
  
  margin: 1px 10px 15px 10px; 
}

label { 
  display: inline-block; width: 100px; text-align: right; 
}

input[type=submit] {
  margin-left: 105px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-bottom: 1px;
}

/* @media (max-width: 1024px) {
    .contact-forum {
        width: 250px;
    }
} */