* {
    margin: 0;
    padding: 0;
}


body {
    background: aqua;
}

header {
    display: flex;
    
    width: 90%;
    margin: auto;
}

.logo-container {
    padding: 20px 0px 0px 35px;
    flex: 2;
}

img{
    width: 70px;
    height: auto;
}

nav li {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 0, 242);
    align-items: center;
    
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
}

.blog {
    max-width: 600px;
    margin: 0 auto;
}
